<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/index.css" />
  <script type="module" defer src="../index.js"></script>
  <title>Document</title>
</head>
<body>
  <article class="Card" data-js="Card">
    <img class="Card__picture" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" height="100" width="100" alt="">
    <h2 class="Card__name">Rick Sanchez</h2>
    <ul class="Card__list">
      <li class="Card__list-element">status: alive</li>
      <li>species: human</li>
      <li>gender: male</li>
      <li>location: earth</li>
    </ul>
  </article>
</body>
</html>